.xterm-screen {
    color: green; /* Set text color to green */
    background-color: black; /* Set background color to black */
}
.iframe-cont {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.virtual-machine-outer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


#app {
	background: rgb(10,10,10);
	width: 100%;
	margin: 0;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-position: center;
	z-index: 1;
}

#wrapper {
	 text-align: center;
}

.sub {
	color: rgb(100,220,220);
	letter-spacing: 1em;
}

.glitch {
	position: relative;
	color: white;
	font-size: 2em;
	letter-spacing: .5em;
	animation: glitch-skew 1s infinite linear alternate-reverse;
}

.glitch::before {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 2px;
	width: 100%;
	height: 100%;
	text-shadow: -2px 0 #ff00c1;
	clip: rect(44px, 450px, 56px, 0);
	animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch::after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: -2px;
	width: 100%;
	height: 100%;
	text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
	clip: rect(44px, 450px, 56px, 0);
	animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(50px, 9999px, 60px, 0);
    transform: skew(1deg);
  }
  5% {
    clip: rect(10px, 9999px, 80px, 0);
    transform: skew(2deg);
  }
  10% {
    clip: rect(30px, 9999px, 100px, 0);
    transform: skew(1deg);
  }
  15% {
    clip: rect(40px, 9999px, 50px, 0);
    transform: skew(-1deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(40px, 9999px, 80px, 0);
    transform: skew(1deg);
  }
  5% {
    clip: rect(20px, 9999px, 70px, 0);
    transform: skew(-2deg);
  }
  10% {
    clip: rect(10px, 9999px, 90px, 0);
    transform: skew(1deg);
  }
  15% {
    clip: rect(30px, 9999px, 60px, 0);
    transform: skew(-1deg);
  }
}

@keyframes glitch-skew {
  0% {
    transform: skew(1deg);
  }
  10% {
    transform: skew(-2deg);
  }
  20% {
    transform: skew(1deg);
  }
  30% {
    transform: skew(0deg);
  }
  40% {
    transform: skew(-1deg);
  }
  50% {
    transform: skew(1deg);
  }
  60% {
    transform: skew(0deg);
  }
  70% {
    transform: skew(-2deg);
  }
  80% {
    transform: skew(1deg);
  }
  90% {
    transform: skew(-1deg);
  }
  100% {
    transform: skew(0deg);
  }
}
